body {
    background-color: #f8f9fa;
    color: #333;
    font-family: Lexend, sans-serif;
    font-size: 1rem;
}

.font-sm{
    font-size: 1rem;
}

.btn-custom-primary {
    background-color: #433878;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #433878;
    border-color: #433878;
    color: white; 
}

.pagination .page-link {
    color: #433878;
}

.pagination .page-link:hover {
    color: #433878;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}