body {
    background-color: #F1F1F6 !important;
    color: #333 !important;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem !important;
    font-weight: 500 !important;
}


::placeholder {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 0.85rem;
  }

.font-sm{
    font-size: 1rem !important;
}

.btn-custom-primary {
    background-color: #433878 !important;
    color: white;
}

.btn-custom-primary:hover {
    background-color: #8E7AB5 !important;
    color: white !important;
}

.btn-custom-primary:disabled {
    background-color: #433878 !important;
    color: white !important;
    cursor: not-allowed !important;
}

.btn-outline-custom {
    border-color: #433878 !important; 
    color: #433878 !important; 
    background-color: transparent !important; 
}

.btn-outline-custom:hover {
    background-color: #433878 !important; 
    color: white !important; 
}

.pagination .page-item.active .page-link {
    background-color: #433878 !important;
    border-color: #433878 !important;
    color: white !important; 
}

.pagination .page-link {
    color: #433878 !important;
}

.pagination .page-link:hover {
    color: #433878 !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d !important;
}

.badge.rounded-pill-custom {
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
    margin-left: 5px !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 90px;
    z-index: 999; 
    border: none;
    outline: none;
    background-color: #433878;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    transition: opacity 0.3s, visibility 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #8E7AB5;
}

@media (max-width: 768px) {
    #scrollToTopBtn {
        right: 10px;
        bottom: 90px; 
        padding: 8px 12px;
        font-size: 16px;
    }
}

body.graphs-page #scrollToTopBtn {
    bottom: 20px;
}