/* Landing page styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
}

.main {
  background-image: url('../imgs/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: left;
}

/* Landing page logo styles */
.logo-container {
  margin-top: 12rem;
  margin-bottom: 13.5rem;
  transition: transform 1s ease-out;
}

.logo-text-upper {
  font-size: 7rem;
  font-weight: 600;
  font-family: 'Lexend Deca', sans-serif;
  color: black;
  letter-spacing: 0.35rem;
  line-height: 0.80;
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
}

.logo-text-bottom {
  font-size: 7rem;
  font-weight: 600;
  font-family: 'Lexend Deca', sans-serif;
  color: black;
  line-height: 0.88;
  margin-bottom: 0.5rem;
}

.tagline {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  position: relative;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

/* Landing page animation styles */
.anim-typewriter {
  animation: fadeIn 0.9s ease-out 0.5s forwards,
             typewriter 4s steps(44) 1.5s 1 normal both,
             blinkTextCursor 0.75s steps(44) infinite normal;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 13.5rem; }
}

@keyframes blinkTextCursor {
  from, to { border-right: 2px solid rgba(0,0,0,0.75); }
  50% { border-right: 2px solid transparent; }
}

/* Landing page buttons styles */
.cta-buttons {
  width: 100%;
  max-width: 350px;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: 'Lexend Exa', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

/* New styles for zoom effect */
.zoom-in {
  transform: scale(1.1);
}