.landing-page {
  background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Lexend, sans-serif;
  display: flex;
  flex-direction: column;
}

.logo-container {
  padding: 20px;
  text-align: center;
}

.logo-text {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 0.95;
}

.large-text {
  display: block;
}

.tagline {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 0.8rem;
  margin-top: 5px;
}

main {
  flex-grow: 1;
}