/* Login and Register page styles */
.main {
    flex-grow: .5;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo styles */
.large-text {
    font-size: 6rem;
    font-weight: normal;
    letter-spacing: 2px;
}

.it-text {
    text-align: left; margin-left: 3px;
    font-size: 6rem;
    color: black;
    margin-bottom: -10px;
}

.pid-text {
    font-size: 6rem;
    color: black;
    text-align: center;
}

.icon-lg {
    font-size: 2.5rem;
}

/* Login and Register form styles */
.btn {
    display: block;
    width: 100%;
    padding: 0.9rem;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-family: 'Lexend Exa', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  .register-btn {
    margin-bottom: 1.5rem;
  }

  .label-font {
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    color: #7A1CAC;
    margin-left: 0.5rem;
    margin-bottom: 0.1rem;
  }

  .input-margin {
    margin-bottom: 1.1rem;
  }

  .logo-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
  
/* Landing page logo styles */
  .logo-text-upper {
    font-size: 6rem;
    font-weight: 600;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    line-height: 0.80;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
  }
  
  .logo-text-bottom {
    font-size: 6rem;
    font-weight: 600;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    line-height: 0.88;
    margin-bottom: 0.5rem;
  }

  .reset-margin {
    margin-top: 1rem;
  }

  .alert-container {
    height: 80px;
    overflow: hidden;
    margin-top: 1.1rem;
    margin-bottom: 6rem;
  }

  .alert {
    margin-bottom: 0;
  }

  .btn-container {
    height: 50px;
    overflow: hidden;
    margin-top: 1rem;
  }

  .register-form-container {
    height: 600px;
    overflow: hidden;
  }